<!doctype html>
<head>
    <style> #chartDiv {width:100%;}</style>
    <title>Google Charts with Flask</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
         google.charts.load('current', {'packages':['corechart','table']});
        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(getNewData);

        var chart;
        var graphdata;

        function reset_status_messages(){
            $("#status").html("")
        }

        function getNewData(){
            $("#status").html("Fetching data to plot graph...");

            jQuery.ajax({
                url: "/api/getdata" ,
                type: 'POST',
                success: function(ndata, textStatus, xhr){ 
                    console.log(ndata.chart_data.data)
                    $("#status").html("Data fetched! Now plotting graph!");
                    chartdata = ndata.chart_data.data
                    graphdata = createDataTable(chartdata)
                    drawLineChart(graphdata)
                    drawDataTable(graphdata)
                    $("#status").html("Graph plotted");
                }//end success
            });//end ajax
          } //end getNewData

        function createDataTable(newdata){
            graphdata = new google.visualization.DataTable();       
            graphdata.addColumn('string', 'Time');
            graphdata.addColumn('number', 'Light');
            for (i in newdata) {
                datetime = newdata[i].datetime_value;
                jsdatetime = new Date(Date.parse(datetime));
                jstime = jsdatetime.toLocaleTimeString();
                light = newdata[i].light_value;
                graphdata.addRows([[jstime,light]]);
            }//end for
            return graphdata
        }
        
        function drawDataTable(graphdata){
            var table = new google.visualization.Table(document.getElementById('table_div'));
            table.draw(graphdata, {showRowNumber: true, width: '100%', height: '100%'});
    
        }//end drawTable

        function drawLineChart(graphdata) {
            chart = new google.visualization.LineChart(
            document.getElementById('chart_div'));
            chart.draw(graphdata, {legend: 'none', vAxis: {baseline: 0},
                colors: ['#A0D100']});
            return 
        } //end drawChart

        $(document).ready(function(){
            reset_status_messages()

            setInterval(function () {
                getNewData()
            }, 3000);
        });

</script>

</head>
<body>
        <input id="buttonloadchart" type="button" onclick="loadChart()" value="Update graph">
        <div id="status"></div>
        <div id="chart_div" style="width:100%"></div>
        <div id="table_div" style="width:100%"></div>
        
</body>
</html>
